[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pybuilder = "*"
setuptools = "*"
wheel = "*"
twine = "*"
beautifulsoup4 = "*"
docker = "*"
pytest = "*"
selenium = "*"
pytest-selenium = "*"

[packages]
requests = "*"
responder = "*"
dataclasses = "*"
paramiko = "*"
toml = "*"
e1839a8 = {editable = true,path = "."}
webcui = {editable = true,path = "."}
